/* common */
* {
    box-sizing: border-box;
}
:root {
    --primary-color: #2e80ce;
    --background-color: #eff6fd;
    --header-bg: #10375c;
    --dark-bg: #2e80ce;
    --think-bg: #f6fbff;
}
html,
body {
    scroll-behavior: smooth;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}
/* Common */
.container {
    width: 1170px;
    max-width: calc(100%-48px);
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.btn {
    display: inline-block; /*dung the a phai bo sung*/
    min-width: 205px;
    padding: 0 16px;
    line-height: 60px; /* chieu cao nut */
    background: var(--primary-color);
    border-radius: 30px;
    font-weight: 400;
    font-size: 1.8rem;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}
.btn:hover {
    opacity: 0.9;
}

.heading {
    font-weight: 600;
    font-size: 7rem;
    color: #10375c;
}
.heading.lv1 {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
}
.heading.lv2 {
    font-weight: 600;
    font-size: 2.6rem;
}
.section__heading {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    color: var(--header-bg);
    letter-spacing: -0.02em;
}
.section__desc {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #575f66;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp.line-2 {
    --line-clamp: 2;
}
.line-clamp.line-4 {
    --line-clamp: 4;
}
.break-all {
    word-break: break-all;
}

/* Header */
.header {
    /* min-height: 100vh; */
    padding: 30px 135px 110px;
    background: var(--header-bg);
}
.header__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    margin-right: 80px;
}
.header__navbar ul {
    display: flex;
    gap: 42px;
}
.header__link,
.header__navbar li a {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #c9d2da;
}

.header__navbar--active {
    text-shadow: 1px 0 0 currentColor;
    color: #fff;
}
.header__link:hover,
.nav__link:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #fff;
}
.header__navbar--active::before {
    position: relative;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #ffffff;
    border-radius: 50%;
    text-align: center;
    left: -8px;
    top: -2px;
}

.header__btn {
    width: 104px;
    line-height: 42px;
    border-radius: 22px;
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
    background: var(--primary-color);
    border: none;
    margin-left: 28px;
    cursor: pointer;
}
.header__btn:hover {
    opacity: 0.8;
}

/* Hero */
.hero {
    margin-top: 76px;
    display: flex;
    position: relative;
}
.hero__content {
    width: 45%;
}
.hero__heading {
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    color: #ffffff;
    margin-bottom: 22px;
}
.hero__desc {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #c9d2da;
    margin-bottom: 38px;
}
.hero__action {
    display: flex;
    align-items: center;
    gap: 38px;
}
.hero__call {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    text-align: center;
    color: #ffffff;
}
.hero__img {
    margin-left: 113px;
}
.hero__img img {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}
.hero__img__1 img {
    width: 210px;
    height: 410px;
    border-radius: 0px 6px 6px 0px;
    object-fit: cover;
}
.hero__img__1 {
    position: absolute;
    right: 0;
    top: 65px;
    bottom: 65px;
}

/* Services */
.service {
    padding: 170px 0;
}
.service .intro {
    text-align: center;
}
.service__heading {
    margin-bottom: 18px;
}
.service__desc {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.service__content {
    margin-top: 70px;
    display: flex;
    gap: 130px;
    justify-content: space-between;
}
.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}
.service__item {
    width: 470px;
    padding: 21px 18px 20px 22px;
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 19px;
    transition: 0.25s;
}
.service__item__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    background: var(--background-color);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    color: #10375c;
    transition: 0.25s;
}
.service__item:hover .service__item__logo {
    color: #ffffff;
    background: var(--dark-bg);
}
.service__item:hover {
    position: relative; 
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);    
}
.item__content {
    width: 75%;
}
.item__label {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.27; /* 23/18 */
    color: var(--header-bg);
}
.item__desc {
    margin-top: 8px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}

.service .btn {
    margin-top: 55px;
}

/* Method */
.method {
    background: var(--think-bg);
    padding: 100px 0;
}
.method__info {
    margin-bottom: 86px;
}
.section__desc.method__desc {
    width: 468px;
    margin-top: 18px;        
}
.method__list {
    display: flex;
    gap: 30px;
}
.method__item {
    padding: 43px;
    border: 16px solid #eaf6ff;
    border-radius: 4px;
    background: #ffffff;
    transition: all linear 0.2s;
}
.method__item:hover {
    border: 16px solid var(--dark-bg);
    border-radius: 4px;
    transform: translatey(-16px);    
    cursor: pointer;
}
.method__label {
    margin-top: 18px;
    margin-bottom: 28px;
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 1.38;
    color: #10375c;
}
.method__desc {
    width: 101.1%;
    margin-bottom: 18px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}
.method__link {
    margin-bottom: 43px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #2e80ce;
}


/* Feature */
.feature {
    padding: 170px 0;
    background: #fff;
}
.feature__body {
    display: flex;
}
.feature__image {
    position: relative;
}
.feature__img--1 {
    width: 512px;
    height: 370px;
    object-fit: cover;
    left: 0;
    top: 0;
    border-radius: 6px;
}
.feature__img--2 {
    position: absolute;
    width: 332px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
    right: -58px;
    top: 121px;
}
.feature__info {
    margin-left: 188px;
}
.feature__heading {
    margin-top: 82px;
    margin-bottom: 18px;
}
.feature__desc {
    margin-bottom: 38px;    
}

/* Member */
.member {
    padding-top: 83px;
    text-align: center;
}
.member__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}
.member__btn {
    margin-top: 38px;
}
.member__list {    
    margin-bottom: 38px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;    
}
.member__item {
    display: block;    
}
.member__img--bg {
    padding-top: 28px;
    border-radius: 6px;
    background: #eaf6ff;
    overflow: hidden;
}
.member__item:hover .member__img {
    transform: scale(1.1);
}
.member__img {
    display: block;
    max-width: 100%;
    height: 290px;
    object-fit: cover;
    transition: 0.25s;    
    border-radius: 6px;
    background: #eaf6ff;
}
.member__img--bg img {
    background: #eaf6ff;
}
.member__name {
    margin-top: 12px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #10375c;
}
.member__university {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.86;    
    color: #575f66;
}
.member__action {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    margin-bottom: 265px;
}
.member__action--left,
.member__action--right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575f66;
    outline: none;
    color: #575f66;
    background: #fff;
    transition: 0.25s;
}
.member__action--left:hover,
.member__action--right:hover {
    background: var(--dark-bg);
    color: #fff;
    border: var(--dark-bg);
    cursor: pointer;
}

/* Install */
.install {
    padding-bottom: 170px;
}
.install__body {
    height: 427px;
    background: var(--dark-bg);
    display: flex;
    padding-top: -95px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 75px;
    border-radius: 4px;
}
.install__img {
    margin-top: -95px;
}
.install__content {
    margin-left: 160px;
    padding-top: 76px;
}
.install__header {
    margin-bottom: 18px;
    color: #ffffff;
}
.install__desc {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #ffffff;
    margin-bottom: 38px;
}
.install__action {
    display: flex;
    gap: 30px;
}

/* News */
.news__body {
    display: flex;
    margin-bottom: 170px;
}
.news__intro {
    margin-right: 130px;
}
.news__intro .news__link {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.56;
    text-decoration-line: underline;
    color: #10375c;
    margin-top: 28px;
    margin-bottom: 28px;
    display: inline-block;
}
.news__list {
    display: flex;
    gap: 30px;
}
.news__item {
    flex: 1;
    width: 271px;
    background: #ffffff;
    border: 1px solid #e8ebee;
    border-radius: 12px;
    transition: 0.25s;    
}
.news__item:hover {
    box-shadow: 0px 18px 50px rgba(0, 0, 0, 0.05);
    border: transparent;
}
.news__item__thumb {
    height: 172px;
    overflow: hidden;
}
.news__item:hover .news__img {
    transform: scale(1.1);
    border-radius: 12px 12px 0px 0px;
}
.news__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.25s;
    border-radius: 12px 12px 0px 0px;
}
.news__content {
    width: 270px;
    padding: 18px 22px 21px 22px;
}
.news__label a {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #10375c;
}
.news__desc {
    margin-top: 10px;
    margin-bottom: 12px;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #575f66;
}
.news__item .news__link {
    font-weight: 400;
    font-size: 1.4rem;
    color: #2e80ce;
}
.news__item .news__link:hover {
    color: #10375c;
}
.news__action {
    display: flex;
    gap: 18px;
}
.news__action--left,
.news__action--right {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575f66;
    color: #575f66;
    display: flex;
    align-items: center;
    justify-content: center;
}
.news__action--left:hover,
.news__action--right:hover {
    color: #fff;
    background: var(--dark-bg);
    cursor: pointer;
    border-color: var(--dark-bg);
}

/* Appointment */
.appointment {
    margin-bottom: 170px;
}
.appointment__body {
    width: 100%;
    padding: 100px 178px;
    text-align: center;
    background: var(--think-bg);
}
.appointment__heading {
    letter-spacing: -0.02em;
}
.appointment__spe {
    margin-top: 18px;
    margin-bottom: 20px;
    width: 17%;
    height: 2px;
    border-color: var(--dark-bg);
}
.appointment__desc {
    display: block;
    margin: auto;
    width: 76%;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #575f66;
    margin-bottom: 38px;
}
.appointment__btn {
    display: inline-block;
    margin: auto;
}

/* Footer */
.footer {
    margin-top: 170px;
    margin-bottom: 170px;
    background: var(--header-bg);
}
.footer__row {
    position: relative;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 28px;
    display: flex;
    gap: 78px;
    border-bottom: 1px solid #406181;
}

.footer__desc--1 {
    margin-top: 18px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #a9b3bb;
}
.footer__column--1 {
    width: 36%;
}
.footer__column--2 {
    width: 17%;
}
.footer__column--3 {
    width: 17%;
}
.footer__column--4 {
    width: 27%;
}
.footer__label {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #ffffff;
    margin-bottom: 20px;
}
.footer__list li a {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #a9b3bb;
    margin-bottom: 10px;
}
.footer__list li {
    margin-bottom: 6px;
}
.footer__list li:last-child {
    margin-bottom: 0px;
}
.footer__label.footer__label--top {
    margin-top: 28px;
}
.footer__social {
    display: flex;
    gap: 10px;
}
.footer__social--1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: var(--dark-bg);
}
.footer__social--2,
.footer__social--3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
}
.footer__desc--2 {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #a9b3bb;
}
.footer__action {
    display: flex;
    gap: 12px;
}
.footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 108px;
    height: 46px;
    background: #2e80ce;
    border-radius: 4px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #ffffff;
}
.footer__btn:hover {
    cursor: pointer;
    opacity: 0.8;
}
.footer input {
    padding-left: 10px;
    width: 212px;
    height: 46px;
    border: 1px solid #406181;
    border-radius: 4px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #9ca8b1;
    background: var(--header-bg);
}
.footer__copyright {
    margin-top: 28px;
    padding-bottom: 42px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: #aab3ba;
}
