/* common */
* {
    box-sizing: border-box;
}
:root {
    --primary-color: #2e80ce;
    --background-color: #eff6fd;
}
html,
body {
    scroll-behavior: smooth;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}
/* Common */
.main-content {
    width: 1170px;
    max-width: calc(100%-48px);
    margin-left: auto;
    margin-right: auto;
}
a {
    text-decoration: none;
}
.btn {
    display: inline-block; /*dung the a phai bo sung*/
    min-width: 205px;
    padding: 0 16px;
    line-height: 60px; /* chieu cao nut */
    background: var(--primary-color);
    border-radius: 30px;
    font-weight: 400;
    font-size: 1.8rem;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}
.btn:hover {
    opacity: 0.9;
}

.heading {
    font-weight: 600;
    font-size: 7rem;
    color: #10375c;
}
.heading.lv1 {
    font-weight: 600;
    font-size: 5rem;
}
.heading.lv2 {
    font-weight: 600;
    font-size: 2.6rem;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp.line-2 {
    --line-clamp: 2;
}
.line-clamp.line-4 {
    --line-clamp: 4;
}
.break-all {
    word-break: break-all;
}
